<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875902311914-8pcvepgtk9jrjdhidi5ojd9ud5hq92fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875902311914-8pcvepgtk9jrjdhidi5ojd9ud5hq92fo</string>
	<key>API_KEY</key>
	<string>AIzaSyAhoMFPJh-HfmMEYilkzk2QedZkaK4c41M</string>
	<key>GCM_SENDER_ID</key>
	<string>875902311914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.justyoutrainer</string>
	<key>PROJECT_ID</key>
	<string>justyoupro-87582</string>
	<key>STORAGE_BUCKET</key>
	<string>justyoupro-87582.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875902311914:ios:d2fa4d6b7cf2609f17a693</string>
</dict>
</plist>